body {
   background-color:rgb(198, 187, 175);   
}
*{
   margin:0;
   padding:0;
}
.l img{
    width:250px;
    height:70px;
}
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul
{
    display:flex;
    list-style-type: none;
    height:70px;
    background-color:brown;
    color:azure;
}
#lastlist
{
    margin-left:600px;
    font-size: 2.5rem;
}
li
{
    padding-left: 20px;
    padding-right: 20px;
}
.container
{
    border: 25px solid black;
    position:sticky;
    background-color: rgb(12, 12, 24);
    color:blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top
{
   
    height:600px;
    width: 98%;
    display: flex;
    flex-direction:row;
    
    
}
#main
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
#rangebar
{
    width:75%;
   cursor: pointer;
}
#h1
{
    text-align: center;
}
.fonti
{
    font-size: 20px;
}
#pluto
{
  height:100%;
  width:100%;

  
}
#listofsongs
{
    display:flex;
    justify-content: flex-start;
    color:white;
}
#dhanush1,#dhanush2,#dhanush3,#dhanush4,#dhanush5,#dhanush6,#dhanush6,#dhanush7,#dhanush8,
#dhanush9,#dhanush10,#dhanush11,#dhanush12,#dhanush13,#dhanush14,#dhanush15,
#dhanush16,#dhanush17,#dhanush18,#dhanush19,#dhanush20
{
    width:50px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
#songs
{
  display: flex;
  flex-direction: column;
  margin-right: 0px;
   width:60%;
   
}
#songnumber
{
    display: flex;
    flex-direction: row;
    background-color:rgb(178, 90, 90);
    border-radius: 5px;
    margin-bottom: 5px;
    width:90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:5px;
    
}
#in
{
    width:250%;
    height:100%;
}
#pl
{
    background-color:aliceblue;
    width: 20px;
}
#songnumber2
{
   width:60%;
   display: flex;
   flex-direction: column;
}
#button1,#button2,#button3,#button4
{
    height:25px;
    width:25px;
    background-color:white;
    cursor: pointer;
}
